body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfcfb;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*viewport height*/
}

header {
    background-color: #3a2d2d; /* цвет кофейных зёрен */
    color: #fff;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container { /* поиск и корзина */
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-container {
    flex: 1;
    margin-right: 10px;
}

#search-bar {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.cart {
    background-color: #e5d6cf;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold; /* жирный */
    cursor: pointer;
}


.main-container {
    display: flex;
    flex: 1; /* 1 позволяет элементу flex расширяться и заполнять всё доступное свободное пространство */
    height: 100%;
}

.sidebar {
    width: 200px;
    height: 100vh; /* вся высота экранна */
    background-color: #f8f1e9;
    padding: 1rem;
    border-right: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0; /* последние три свойства закрепляеют боковую панель с выбором типов кофе фикисрованно слева сверху*/
}

.sidebar h2 {
    margin-bottom: 1rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 0.5rem;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar ul li a:hover { /*mouseover */
    color: #3a2d2d;
}

.coffee-display {
    margin-left: 250px;
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coffee-display h2 {
    margin-bottom: 1rem;
}

.menu-items {
    display: flex;
    flex-wrap: wrap; /* позволяет карточкам переходить на новую строчку */
    gap: 1rem;
    justify-content: center;
}

.menu-item img {
    width: 100%; /* изображение на всю шир контйнера*/
    height: auto; /*сохр пропорции изображения*/
    border-radius: 5px;
    margin-bottom: 1rem;
}

.menu-item {
    background: #fff;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #3a2d2d;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
